body {
    margin: 0;
    padding: 0;
    background-color: #4637AC;
}
nav {
    margin-top: 0px;
    text-align: center; /* Centra horizontalmente los elementos del menú */
    background-color: #F7463E; /* Cambia esto al color de fondo deseado */
  }

nav ul {
    display: flex; /* Utiliza Flexbox para alinear los elementos horizontalmente */
    justify-content: center; /* Centra los elementos horizontalmente dentro del contenedor */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0 10px;
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
  }

nav ul li a {
    display: block; /* Hace que los elementos de enlace se comporten como bloques en línea */
    padding: 10px 20px;
    color: rgb(27, 25, 25);
    text-decoration: none;
    background-color: #F2E205; /* Agrega un fondo al enlace */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

nav ul li a:hover {
    background-color: #B9B0FF ; /* Cambia el color de fondo en el hover */

}

#login {
    display:flex;
    float: right;
    width: fit-content;
    margin: 2%;
    padding: 2%;
    display: block;
    border: solid;  
    border-color: #F2E205;  
    background-color: #F7463E;
}

#imagenCabecera {
    width: 100%;
    height: 250px;
;
}
#fondo {
    display: flex;
    border: 2px solid #F2E205;
    margin: 1%;
    height: 500px;
    width: 795px;


}

.texto {
    width: 300px;
    position: absolute;
    top: 40%;
    left: 12%;
    text-align: center;
    color: #F2E205; /* Color del texto */
}

#Peliculas {
    border-color: #F2E205;
}

.celda {
    padding: 10px;
}

footer{
    margin: 1%;
    border: solid;
    border-color: #F2E205;
}

#imagenFooter{
    width: 100%;
    height: 250px;
}