body {
    margin: 0;
    padding: 0;
    background-color: black; /* Establece el fondo negro */
  }
  
  .contenido {
    color: #4B4C4B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px; /* Define los márgenes interiores */
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #E7E5E6; /* Cambia el color de fondo del contenedor principal */
  }

  #titulo {
    color: black;
    padding-top: 3%;
    text-align: center;
  }

  .cabecera {
    display: block;
    margin: 2%;
  }

  #descripcion{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }
  #iconos{
    padding-left: 5%;
  }
  .info{
    margin: 2%;
  }

  #experiencia, #educacion, #habilidades, #idiomas{
    padding-left: 5%;
  }
  #linea{
    border-color: black;
    border-width: 0.5px;
    display: block;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
  }
